
 	body {
 	background-image:url('images/leagueoflegends.jpg');
	background-repeat:repeat;
	background-attachment:fixed;
 	padding-left: 11em;
 	font-family: sans-serif;
 	font-size:16px;
 	color:blue;
 	}
 	
 	ul.navbar {
 	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
    }
    
  	ul.navbar a {
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
  	display: inline-block;
  	width: 100px;
    background: yellow;
    text-decoration: none;
    box-shadow:3px 3px 10px rgba(0,0,0,0.5);
    }
    ul.navbar a:hover {
    	background:#DDDE79;
    }
  	a:link {
    color: }
  	a:visited {
    color: blue }
    
    address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
    
 	.nav {
 		position:fixed;
 		margin:0;
 		padding:0;
 	}
 	.nav li {
 		list-style-type:circle;
  	}
	  	
 	.content{
 		margin-left:150px;
 		text-align:center;
 		color:yellow;
 	} 	
 	.thumb {
 		height:400px;
 		width:400px;
 	}
 	
 	.project {
 		background:#fff;
 		display:inline-block;
 		padding:20px;
 	}
	
	.project:hover {
		background:#55d;
	}
	
	.align-left {
		text-align:left;
	}
	
	.tab {
		margin-left:40px;
	}